<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Student API</title>
  </head>

  <body>
    <form method="post" action="students/create">
      <label for="student_name">Name:</label>
      <input type="text" id="student_name" name="name" />

      <label for="student_ID">Registration#:</label>
      <input type="number" id="student_ID" name="price" />

      <label for="program_name">Program:</label>
      <input type="text" id="program_name" name="name" />

      <input type="submit" />
    </form>
  </body>
</html>
